@import "tailwindcss";

@theme {
  --font-condensed: "Roboto Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --font-quattrocento: "Quattrocento", serif;
  --font-satisfy: "Satisfy", cursive;
}
